{% extends "layout.html" %}

{% block body %}
  <table>
    {% if sign_ups %}
    <tr>
      <th>Ilmoittautumisesi</th>
    </tr>
    {% for sign_up in sign_ups %}
    <tr>
      <td>
        {{ sign_up.league.name }}</td>
      <td>
      <td>
        <form method="POST" action="{{ url_for('remove_sign_up', sign_up_id = sign_up.id) }}">
          <input type="submit" value="Poista ilmoittautuminen"/>
        </form>
      </td>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>Ei ilmoittautumisia.</tr>
    {% endif %}
  </table>
{% endblock %}
