{% extends "layout.html" %}

{% block body %}
  <table>
    <h1>Leagues organized by you</h1>
    {% if leagues %}
    {% for league in leagues %}
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
    <tr> 
      <td>{{ league.name }}</td>
      <td>{{ league.description }}</td>
      <td>
      <td>
          <form method="GET" action="{{ url_for('edit_league', league_id = league.id) }}">
            <input type="submit" value="Edit league"/>
          </form>
        </td>
      <td>
        <form method="GET" action="{{ url_for('delete_league', league_id = league.id) }}">
          <input type="submit" value="Delete league"/>
        </form>
      </td>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>You haven't organized any leagues yet. Click "Create a league" to organize a new league</tr>
    {% endif %}
  </table>
{% endblock %}
