{% extends "layout.html" %}

{% block body %}
<h1>Standings</h1>
  <p>
    Please choose a league:
  </p>

<form method="POST" action="{{ url_for('filtered_standings') }}">
  <table>
    <tr>
      <td>{{ form.league.label }}</td>
      <td>{{ form.league }}</td>
      <td>
        <ul>
          {% for error in form.league.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Apply filter"/>
      </td>
    </tr>
  </table>
</form>

{% if standings is defined %}
<p>
  <b>Standings for {{ league_name }}:</b>
</p>
  <ol>
    {% for response in standings %}
    <li>
      {{ response.name }}, {{ response.distance }} kilometers
    </li>
    {% endfor %}
  </ol>
  
{% endif %}

{% endblock %}