{% extends "layout.html" %}

{% block body %}
<h1>Your events</h1>
{% if events %}
<form method="POST" action="{{ url_for('filter_events') }}">
  <table>
    <tr>
      <td>{{ form.league.label }}</td>
      <td>{{ form.league }}</td>
        <ul>
          {% for error in form.league.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td>{{ form.sort.label }}</td>
      <td>{{ form.sort }}</td>
      <td>
        <ul>
          {% for error in form.sort.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    </tr>
    <tr>
      <td>{{ form.order.label }}</td>
      <td>{{ form.order }}</td>
      <td>
        <ul>
          {% for error in form.order.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    </tr>
    <tr>
      <td>{{ form.number.label }}</td>
      <td>{{ form.number }}</td>
      <td>
        <ul>
          {% for error in form.number.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Apply filter"/>
      </td>
    </tr>
  </table>
</form>
  <table>
    
    {% for event in events %}
    <tr>
      <td><b>Date</b></td>
      <td><b>League</b></td>
      <td><b>Kilometers</b></td>
      <td><b>Description</b></td>
    </tr>
    <tr>
      <td>{{ event.date }}</td>
      <td>{{ event.league.name }}</td>
      <td>{{ event.distance }}</td>
      <td>{{ event.description }}</td>
      <td>
        <form method="GET" action="{{ url_for('edit_event', event_id = event.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('delete_event', event_id = event.id) }}">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <p>
      <b>No events yet. Click "Add event to create a new event"</b>
    </p>
    {% endif %}
  </table>
{% endblock %}
